<ag-grid-angular
    class="ag-theme-alpine"
    style="height:500px;width:100%"
    [rowSelection]="rowSelection"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    (selectionChanged)="onSelectionChanged()"
    (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
<div class="button-container">
    <button type="button" class="btn btn-success">Add</button>
    <button type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-danger">Delete</button>
</div>